*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #092635;
}
main .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    text-align: center;
    margin: 40px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.top h1{
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}
.top p.date{
    font-size: 30px;
    color: #EEF5FF;
    margin: 20px 0;
    font-size: bold;
}
.main img{
    border: 15px solid #B6BBC4;
    border-radius: 50%;
    height: 500px;
}
.description{
    text-align: justify;
    width: 60%;
}
.description h3{
    text-align: center;
    color: #fff;
    font-size: 38px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.description p{
    font-size: 20px;
    color: #fcfcfc;
    line-height: 1.6;
    margin: 10px 0;
}
footer{
    text-align: center;
    font-size: 18px;
    color: #bcbcbc;
    margin: 20px;
}
footer p{
    padding: 5px 0;
}