*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
/* Header Section Start  */
header{
    height: 10vh;
    display: flex;
    background: linear-gradient(to top, #fff 50%, #c3f5ff 50%);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}
header .logo{
    width: 30%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: -8rem;
    box-sizing: border-box;
    animation: logoanimate 1.5s linear .2s infinite alternate;
}
.logo h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 3.2rem;
}
/* Animating the logo */
@keyframes logoanimate {
 from{
    padding: 0rem;
 }   
 to{
    padding-left: 10rem;
 }
}
header nav{
    width: 50%;
    padding: 0 5rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    position: relative;
}
.active{
    color: #4458dc;
}
nav ul li a:before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 0.2rem solid #4458dc;
    transition: all .3s linear;
}
nav ul li a:hover:before{
    width: 100%;
}
/* Header Section End*/
/* Main Section Start  */
/* Home Section Start */
section#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 91vh;
    background: linear-gradient(to left, #fff 88%, #c3f5ff 15%);
}
.leftpart{
    color: #000;
    text-transform: uppercase;
    margin-left: 8rem;
}
.leftpart h2{
font-size: 4rem;
margin-bottom: 1.5rem;
position: relative;
}
.leftpart h2:after{
    content: "";
    height: 0.5rem;
    background-color: #000;
    width: 40rem;
    top: 75%;
    left: 21.8%;
    position: absolute;
    border-radius: 1rem;
}
.leftpart h1{
    font-size: 5.4rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.leftpart h3{
    font-size: 2.5rem;
    display: inline-block;
}
span.typed-cursor{
    font-size: 3rem;
    color: #4458dc;
}
.leftpart .btn1,.btn2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem 2rem;
    outline: none;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: .05rem .05rem 0.5rem #0000005d;
    border: 0.2rem solid #4458dc;
    transition: all .2s linear;
}
.leftpart .btn1{
    margin-left: 0;
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    color: #fff; 
}
.leftpart .btn2{
    margin-left: 4.8rem;
    background: transparent;
    color: #000;
}
.leftpart .btn1:hover{
    background: transparent;
    color: #000;
}
.leftpart .btn2:hover{
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    color: #fff;
}
.rightpart{
    margin-right: 4.8rem;
    border-radius: 31% 68% 17% 24% / 35% 67% 33% 32% ;
    background: #e8fbff;
}
.rightpart img{
    height: 50rem;
    border-radius: 10rem;
}
/* Home Section End */
/* About Section Start  */
section#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0;
}
.heading{
    font-size: 4.8rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    background: #c3f5ff;
    padding: 2rem;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding:1rem 20rem ;
    gap: 10rem;
}
.about-wrapper .img img{
    height: 60rem;
    border: 1rem solid #c3f5ff;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform .2s linear;
}
.about-wrapper .img img:hover{
    transform: translateX(1rem);
}
.intro .intro-wrapper p{
    font-size: 2rem;
    text-align: justify;
    margin: 1rem 0;
}
.skills h3{
    text-align: center;
    font-size: 3.5rem;
    margin: 1rem 0;
    text-decoration: underline;
}
.skills-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5rem;
}
.skills-wrapper .left p,.skills-wrapper .right p{
    background: #c3f5ff;
    padding: 1.5rem 10rem;
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 0 0 0.5rem #844fee6b;
    transition: transform .2s linear;
    cursor: pointer;
}
.skills-wrapper .left p i,.skills-wrapper .right p i{
    margin: 0 1rem;
    font-size: 3rem;
}
.skills-wrapper .left p:hover,.skills-wrapper .right p:hover{
    transform: translateY(-1rem);
}
/* About Section End */
/* Services Section Start */
section#services{
   margin: 5rem 0;
}
.services-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 30rem;
    flex-wrap: wrap;
}
.services-wrapper .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    width: 35rem;
    height: 35rem;
    background: #c3f5ff;
    border-radius: 1rem;
    padding: 1rem 3rem;
    box-shadow: 0 0 0.5rem #844fee6b;
    margin: 1rem;
    transition: all .2s linear;
    cursor: pointer;
}
.services-wrapper .card:hover{
    transform: scale(1.1);
}
.services-wrapper .card .icon i{
    font-size: 5rem;
    margin-bottom: 2rem;
}
.services-wrapper .card h4{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.services-wrapper .card p{
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
}
/* Services Section End */
/* Portfolio Section Start */
section#portfolio{
    margin: 50px 0;
}
.portfolio-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 10rem;
    flex-wrap: wrap;
}
.portfolio-wrapper .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    width: 50rem;
    height: 50rem;
    border: 0.5rem solid #000;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #844fee6b;
    margin: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s linear;
    
}
.portfolio-wrapper .card:hover{
    transform: translateY(-1rem);
}
.portfolio-wrapper .card .img img{
    height: 45rem;
    transition: transform .2s linear;
}
.portfolio-wrapper .card .img img:hover{
    transform: scale(1.05);
}
.portfolio-wrapper .card p{
    font-size: 2rem;
}
/* Portfolio Section End */
/* Contact Section Start */
.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20rem;
    flex-wrap: wrap;   
}
.contact-form{
    width: 50%;
    min-width: 50rem;
    padding: 0 5rem;
}
.contact-form h3{
    font-size: 3rem;
    margin: 1rem 0;
    text-decoration: underline;
    text-align: center;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form form label{
    font-size: 2rem;
}
.contact-form form input,textarea{
    padding: 1rem;
    margin: 1rem 0;
    outline: none;
    border: 0.2rem solid #4458dc;
    border-radius: 0.5rem;
    font-size: 2rem;
}
.contact-form form button{
    padding: 1rem 2rem;
    margin: 1rem 0;
    outline: none;
    border: 0.2rem solid #4458dc;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    color: #fff;
    transition: all .2s linear;
    width: 40%;

}
.contact-form form button:hover{
    background: transparent;
    color: #000;
}
.contact-form form button i{
    margin-right: 1rem;
}
.contact-info{
    width: 50%;
    padding: 0 5rem;
    text-align: left;
}
.contact-info h3{
    font-size: 3rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 1rem 0;
}
.contact-info .info{
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 1rem 0;
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
}
.contact-info .info i{
    font-size: 2.5rem;
    margin: 0 1rem;
    color: #4458dc;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 1rem 0;
}
.social-media h4{
    font-size: 2rem;
    margin: 2rem 0;
}
.social-media .social-media-wrapper a{
    color: #000;
    font-size: 4rem;
    margin: 0 0.5rem;
    transition: all 0.2s linear;
}
.social-media-wrapper a:hover{
    color: #854fee;
}
/* Contact Section End */
/* Main Section End */
/* Footer Section Start */
footer{
    background: #c3f5ff;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}
footer p span.name{
    font-weight: bold;
    color: #4458dc;
}
/* Footer Section End */
/* Preloader Section Start */
div.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.preloader .loader{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid #3498db;
    animation: loader 1s linear infinite;
}
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* Preloader Section End */