*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4d8ac8;
}
.container{
    background: #ebf5ff;
    padding: 30px 20px;
    border-radius: 5px;
    /* width: 0px; */
}
.input{
   
    text-align: center;
    margin: 10px 0;
    
}
#input{
    width: 95%;
    height: 80px;
    border-radius: 5px;
    border: none;
    padding: 0px 20px;
    font-size: 30px;
    outline: none;
    font-weight: bold;
    text-align: right;
}
.row button{
    /* padding: 10px 20px; */
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;
}