<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Form</title>
    <link rel="stylesheet" href="/static/signup/style.css">
</head>
<body>
    <div class="form-wrapper">
        <form method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id='username' placeholder="Enter a Username" required/> 
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id='firstname' placeholder="Enter a First Name" required/>            
            <label for="lastname">First Name</label>
            <input type="text" name="lastname" id='lastname' placeholder="Enter a Last Name" required/>
            <label for="email">Email</label>
            <input type="email" name="email" id='email' placeholder="Enter a Email" required/> 
            <label for="password">Password</label>
            <input type="password" name="password" id='password' placeholder="Enter a Password" required/>
            <div class="btn-wrapper">
                <button><a href='/login'>SignIn</a></button>
                <button type="submit">SignUp</button>
            </div>
        </form>
    </div>
</body>
</html>