<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Form</title>
    <link rel="stylesheet" href="static/signup/style.css">
</head>
<body>
    <div class="form-wrapper">
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter a Username" /> 
            <label for="username">Full Name</label>
            <input type="text" name="fullname" placeholder="Enter a Username" />
            <label for="username">Email</label>
            <input type="email" name="email" placeholder="Enter a Username" /> 
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter a Password" />
            <button type="reset">Clear</button>
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>