*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #092635;

}
.form-wrapper{
    background: #11235A;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #fff;
}
form{    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-size:20px;
    color: #fff;
    font-weight: bold;
}
input{
    font-size: 20px;
    padding: 5px 10px;
    outline: none;
}
.btn-wrapper{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.btn-wrapper button{
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    background: #F3F8FF;
    border: 1px solid #F3F8FF;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.btn-wrapper button:hover{
    background: transparent;
    color: #fff;
}
.btn-wrapper button:active{
    transform: scale(0.9);
}
.error{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}